@tailwind base;
@tailwind components;
@tailwind utilities;


/* Hide scrollbar (mobile premium look) */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
